<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}


{% block content %}

    {% if successMessage %}
        <div class="col"></div>
        <div class="col-6">
            <div class="alert alert-success">
                <h3>Check your inbox.</h3>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
    {% else %}
    <div class="limiter">
    	<div class="container-login100" style="background-image: url('/static/images/medical2.jpg');">
        <div class="col-8 border rounded bg-light mt-5" id="section-password-reset">
            <div class="row">
                <div class="col-12">
                    
                    {% if errorMessage %}
                        <div class="alert alert-danger"> {{errorMessage}}</div>
                    {% endif %}
                </div>
                <div class="col-sm-3"></div>
                </div>

		
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="{% url 'reset' %}">
					 {% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Forgot your password?
					</span>

  					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Send me instructions!
						</button>
					</div>

  </form>
</div>
{% endif %}
{% endblock %}