{% load static %}

<link href="{% static "dashboard/css/listeMaladies.css" %}" id="theme" rel="stylesheet">
<div class="remplacer">
<div class="container-fluid">
	<div class="row">
		<div class="col-6">
	<h3 style="text-decoration: underline;">Symptomes trouvés</h3>


<form action="{% url "dashboard:pagefinale" pk=p.id %}"method="post">
	{% csrf_token %}
	{% for nomMaladie in listeMaladies %}
		<label class="container">{{nomMaladie|capfirst}}
		  <input type="checkbox" name="checks" value="{{nomMaladie}}" id="{{nomMaladie}}" checked="checked">
		  <span class="checkmark"></span>
		</label>
	{% endfor %}
	<button class="btn btn-primary" type="submit">Diagnostiquer</button>
</form>

</div>
<div class="col-6">
		<h3 style="text-decoration: underline;">Autres symptômes et signes cliniques</h3>

			<div class="input-group">
  				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
  				<input type="text" class="form-control" placeholder="Recherche" aria-describedby="basic-addon1" id="search">
			</div>
			<select name="resuls" size="10" id="results" style="width: 100% !important; min-width: 100%; max-width: 100%;">
				
			</select>
</div>
</div>
</div>
</div>
<script type="text/javascript">

$("#search").on('input', function () {
      var nomMaladie = $(this).val();

      $.ajax({
        url: '/ajax/instantsearch/',
        data: {
          'nomMaladie': nomMaladie
        },
        dataType: 'json',
        success: function (propositions) {
        	$("#results").empty()
          tab = propositions['propositions'].split('-')
          
      
          for (var i = 0; i < tab.length; i++) {
  				
  				//$('#results').append('<h4><li><a>'+tab[i]+'</a></li></h4>')
  				$('#results').append('<option value="'+tab[i]+'">'+tab[i].charAt(0).toUpperCase()+tab[i].slice(1)+'</option>')
				
			}
        }
      });

    });
	
	$(document).ready(function(){
		var tab = [];
	$("body").on('dblclick', 'option', function() {
  		//alert( this.value );
  		var element = document.getElementById(this.value);
  		
  		if($(element).length == 0 && !tab.includes(this.value)){
  			$( '<label class="container">'+this.value.charAt(0).toUpperCase()+this.value.slice(1)+
	  			'<input type="checkbox" name="checks" value="'+this.value+
	  			'" checked="checked"><span class="checkmark"></span></label>' ).insertBefore( "button" );
  			tab.push(this.value);
  			console.log(tab);
  		}

  		

});
	});

</script>

</div>