{% extends "dashboard/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{% endblock %}

{% block content %}

<!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Profil</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Profil</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{% static "dashboard/assets/images/users/3.jpg" %}" class="img-circle" width="150" />
                                    <h2 class="card-title m-t-10">Profil du Médecin</h2>
                                </center>
                                    <h5 class="card-subtitle"><b>Nom d'utilisateur:</b> {{ user.username }}</h5>
                                    <h5 class="card-subtitle"><b>Prénom(s):</b> {{ m.prenom }}</h5>
                                    <h5 class="card-subtitle"><b>Nom:</b> {{ m.nom }}</h5>
                                    <h5 class="card-subtitle"><b>Email:</b> {{ user.email }}</h5>
                                    <h5 class="card-subtitle"><b>Téléphone:</b> {{ m.tel }}</h5>
                                    <h5 class="card-subtitle"><b>Adresse:</b> {{ m.adresse }}</h5>
                                    <h5 class="card-subtitle"><b>Date de Naissance:</b> {{ m.dateNaiss }}</h5>
                                    <h5 class="card-subtitle"><b>Spécialité:</b> {{ m.specialite }}</h5>
                                    <h5 class="card-subtitle"><b>Lieu de travail:</b> {{ m.lieuTravail }}</h5>
                                    <!-- <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                    </div> -->
                                    
                                
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material" method="POST">
                                                   {% csrf_token %}
               {% for hidden_field in form.hidden_fields %}
               {{ hidden_field }}
               {% endfor %}
               {% if form.non_field_errors %}
               <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
               </div>
               {% endif %}
               {% for field in form.visible_fields %}
               <div class="form-group">
                  {{ field.label_tag }}
                  {% if form.is_bound %}
                     {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                           {{ error }}
                        </div>
                        {% endfor %}
                     {% else %}
                        {% render_field field class="form-control is-valid" %}
                     {% endif %}
                  {% else %}
                     {% render_field field class="form-control" %}
                  {% endif %}
                  {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
               </div>
               {% endfor %}
               <button type="submit" class="save btn btn-default">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->

{% endblock %}